#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
      @include grid-column-position(center);
    }
  }
  
  .entry-title { font-weight: $xtra-bold; }
  
  .entry-content {
    h1,h2,h3,h4,h5,h6 {
      &:first-of-type:not(.widget-title) {
        font-weight: $subheader-font-weight;
        font-style: italic;
      }
    }
  }
  
}



  .widget_siteorigin-panels-postloop .entry-content {
    h1,h2,h3,h4,h5,h6 {
      font-size: $lead-font-size;
      
      &:first-of-type:not(.widget-title) {
        font-weight: $subheader-font-weight;
        font-style: italic;
      }
      
    }
  }
