.wp-caption{
  padding:rem-calc(4);
}

.wp-caption img{
  max-width:100%;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}


/* = Buttons
  ------------------------------------------*/
  
  .ow-button-base a { @include button; }
  .ow-button-base a, .button { text-transform: uppercase; font-weight: bold; }
  